@import url('https://fonts.cdnfonts.com/css/8bit-wonder');

body {
  background-color: #8dca99;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: "8BIT WONDER", sans-serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #413d3d;
  background-color: #dbcdcd;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #413d3d;
  background-color: #dbcdcd;
}
