/*Kye Gorosave CSS file with help from https://codepen.io/Errec/pen/JKppYz?editors=1000*/

@import url('https://fonts.cdnfonts.com/css/pixelify-sans');
@import url('https://fonts.cdnfonts.com/css/m-plus-1-code');

body {
  font-family: 'Pixelify Sans', sans-serif;
  background-color: #F4F4F4;
}
/* Start: menu*/
header {
  background: #151515;
  width: 100%;
  left: 0;
}

.kye-photo{
    width: 500px;
}

#menuIcon {
    width: 189px;
    height: 107px;
}
nav {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
}

.logo-box {
  float: left;
  margin-left: 10px;
}

.logo {
  height: 70px;
}

.ul-0 {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;
  float: right;
  height: 70px;
  line-height: 70px;
  text-align:center;
}

.a-logo {
  text-decoration: none;
  display: inline-block;
  position: relative;
  
}

.a-0 {
  color: white;
  text-transform: uppercase;
  font-size:125%;
  padding: 15px;
}

.a-0:hover {
    color: #868686;
    text-decoration: none;
}

.li-0 {
  display: inline-block;
  margin-left: 25px;
  transition: .5s linear;
}

.a-0:hover:after{
  width: 100%;
}
@media screen and (max-width:574px) {
  .logo-box {
    float: none;
    margin: 0 auto;
  }
  .ul-0 {
    float: none;
    margin: 0 25px;
    }
 .li-0:first-of-type {margin-left:0}
}

@media screen and (max-width:493px) {
nav {
  overflow: visible
}
.ul-0 {
  height: auto;
  padding-top: 30px;
  line-height: 30px;
}
.li-0 {
  display: block;
  margin: 0;
}
}

/* end of menu -> textBox*/
.textBox {
  height: 350px;
  background-color: #151515;
}

 .textBox p {
  letter-spacing: 10px;
  color: white;
  padding: 85px 40px 0 20px;
  font-size: 220%;
  line-height: 50px;
  font-weight: 100;
  margin: inherit;
  font-family: 'M PLUS 1 Code', sans-serif;
}
/* end of textBox-> heroBox*/


/* end of heroBox -> skillBox*/


#container-3 {
  background-color:#151515;

}

#container-3 h3{
    color:#F4F4F4;
    padding: 85px 40px 0px 20px;
    letter-spacing: 4px;
    font-size: xx-large;
}

#grid {
    max-width:100%;
    margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;
    background-color:#151515;
  
}
#grid li {
    display: inline-block;
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
.gridCell {
  border:3px solid #151515;
    display:block;
    position: relative;
    overflow:hidden;
}
        
.gridImg {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 0.8s;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  
    
}

#grid li:hover .gridImg {
    transform:scale(1.05);
      -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
  
}
        
/* If have the overlay layer */
.gridOverlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #F4F4F4 
    background-size: 50px 50px;
    opacity: 0;
    transition:all 0.6s;
  
}

#grid li:hover .gridOverlay {
    opacity:0.2;
  
}

.gridText {
    display:block;
    box-sizing:border-box;
    position:absolute;
    margin: auto auto auto -4.1em;
    left: 50%;
    padding: 15px;
    text-align:center;
    background-color: #151515;
  border-radius: .2em;
  
    font-size:18px;
    top:50%;
    color:white;
    opacity:0;
    transform:translateY(30px);
    transition:all .4s;
}
#grid li:hover .gridText {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #grid li {
        width:33.33%;
    }
}

@media (max-width: 700px) {
    #grid li {
        width:50%;
    }
}

@media (max-width: 550px) {
    #grid li {
        width:100%;
    }
}

/* end of workBox -> aboutBox*/

#container-4 {
  width: 100%;  
  margin: auto;
  padding-bottom: 100px;
  background: #151515;
  color: white;
  
}

.the-author {
    font-size: 200%;
    line-height: 3.3;
    margin-left: 20px;
}
.about {
  display: block;
  letter-spacing: 2px;
  
}

.about h3, .contact h3, .follow h3 {
  margin: none;
}


