@import url('https://fonts.cdnfonts.com/css/apple-garamond');
@import url('https://fonts.cdnfonts.com/css/albert-sans');

/*Changing the background color of the site*/
body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
}
/*Chaning the h2's on the page so I can add fonts and stuff*/
h2 {
    color: white;
    font-size: 225%;
    margin: 2px;
    font-family: 'Apple Garamond', sans-serif;
    font-weight: bold;  
    text-decoration: underline;                                                                                                                                                                           
}
/*Changing the paragraphs around the page so I can add fonts and other srtles*/
p {
    font-size: 130%;
    letter-spacing: 0.01cm;
    color: white;
    font-family: 'Albert Sans', sans-serif;                                                                                                                                     
}

.pear-phone {
    height: 100px; 
    width: 100px; 
    vertical-align: middle; 
    margin-right: 10px; /*Space before the title*/
    margin-left: 10px; /*Space after the title*/
}

#content h1 {
    display: inline-block; 
}

#content {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 3rem;
    font-family: 'Apple Garamond', sans-serif;                                                                                                                                                                      
    font-size: xx-large;
    letter-spacing: 0.15cm;
    margin: 0 auto; /* Centering it horizontally */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border */
}

#challenge, #problems, #results {
    padding: 15px;
    margin-bottom: 20px;
    border: solid 1px #007acc;
    background-color: #3e3e42;
    border-radius: 10px;
    margin: 20px auto; /* Centered with vertical margins */
    box-sizing: border-box; /* Include padding and border */
    width: calc(100% - 40px); /* Adjust width to account for margin */
    position: relative;
    overflow: hidden;
    transition: background 1s, box-shadow 1s;
                                                
}

#output {
    background-color: black;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px rgb(255, 255, 255);
    min-height: 100px;
  }
  
  .text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: darkgray;
    color: white;
    font-family: sans-serif;
    font-size: 0.8em;
  }
  
  .text:nth-child(odd) {
    text-align: left;
  }
  
  .text:nth-child(odd) p {
    background-color: #212124;
    color: white;
  }
  
  .text:nth-child(even) {
    text-align: right;
  }
  
  .text:nth-child(even) p {
    background-color: #1F8AFF;
    color: white;
  }

/*Styling the button with help from https://getcssscan.com/css-buttons-examples*/
#make-convo {
      align-items: center;
      appearance: none;
      background-color: #fff;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      color: #3c4043;
      cursor: pointer;
      display: inline-flex;
      fill: currentcolor;
      font-family: 'Albert Sans', sans-serif;
                                                
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: auto;
      will-change: transform,opacity;
      z-index: 0;
    }
    
    #make-convo:hover {
      background: #F6F9FE;
      color: #174ea6;
    }
    
    #make-convo:active {
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
      outline: none;
    }
    
    #make-convo:focus {
      outline: none;
      border: 2px solid #4285f4;
    }
    
    #make-convo:not(:disabled) {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    #make-convo:not(:disabled):hover {
      box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
    }
    
    #make-convo:not(:disabled):focus {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    #make-convo:not(:disabled):active {
      box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
    }
    
    #make-convo:disabled {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
